@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .details-radio {
    @apply text-blue-500 transition duration-100 ease-in-out border-gray-300 shadow-sm focus:border-blue-500 focus:ring-2 focus:ring-blue-500 focus:outline-none focus:ring-opacity-50 focus:ring-offset-0 disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .btn-primary {
    @apply py-2 px-10 lg:px-8 xl:px-10 inline-flex items-center justify-center text-center text-white text-base bg-black hover:bg-opacity-90 font-normal rounded-md;
  }

  .btn-primary:disabled {
    @apply bg-gray-500 cursor-not-allowed;
  }

  .btn-secondary {
    @apply py-2 px-10 lg:px-8 xl:px-10 inline-flex items-center justify-center text-center text-black text-base bg-white hover:bg-opacity-90 font-normal rounded-md;
  }
}

[type="checkbox"],
[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  -webkit-color-adjust: exact;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #71717a;
  border-width: 1px;
}

[type="radio"] {
  border-radius: 100%;
  margin-top: -1px;
  vertical-align: middle;
}

[type="radio"]:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
}

[type="checkbox"]:checked,
[type="radio"]:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
